
$blue-color : #1274B2;
$blue-link-color: #005187;
$orange-lite-color : #F8E7BC;
$orange-color : #C25608;

$red-color : #df0000;
$green-color : #228b00;
$fg-color-green: #627d32;
$text-red : #df0000;
$white-color : #FFFFFF;
$grey-lite1-color : #F2F2F2;
$grey-lite2-color : #E9E8EA;
$grey-lite3-color : #C4C4C4;
$grey-lite6-color : #888b8d;
$grey-lite4-color : #63666A;
$grey-lite5-color : #2C2C2C;

$font-family : "FrutigerLTW01-45Light", sans-serif;
$icon-font-awesome-family: 'FontAwesome';